@font-face{
    font-family: 'Spectral';
    /* src: url("https://fonts.google.com/specimen/Spectral?query=spectral"); */
    src: url("../fonts/Spectral-Regular.ttf")
}

/* When the screen gets small enough to serve as a mobile screen */
@media (max-width: 600px){ 
    .pageHeader{
        font-size: 15px;
    }
    .subheader{
        font-size: 12px;
    }

    .pageFooter h4{
        font-size: 14px;
    }

    .pageFooter h5{
        font-size: 12px;
    }

    /* see if you can include a dropdown */
    .navbar ul li{
        display: block;
    }
}

/* DARK MODE COLORS
-
Seafoam green (header/footer background): #b8e0d2;
Light blue (navbar button background): #95b8d1;
Pastel blue (button background): #b4e0e4;
Blunted white (text color): rgb(241, 234, 234);

LIGHT MODE COLORS
-
(header/footer background): #eac4d5
(navbar button background): #b8e0d2
(button background):
(text color):
*/

body{
    font-family: 'Spectral', serif;
    background-color: black;
    color: rgb(241, 234, 234);
}

.body-light-mode{
    background-color: rgb(241, 234, 234);
    color: black;
}

/* styling the header */
.pageHeader{
    padding: 20px;
    background-color: #b8e0d2;
}

.pageHeader-light-mode{
    background-color: #eac4d5;
}

.pageHeader a{
    color: black;
    text-decoration: none;
}

/* styling the navbar */
.navbar{
    padding: 20px 0px 20px 8px; /*top, right, left, bottom*/
    background-color: #b8e0d2;
}

.navbar-light-mode{
    padding: 20px 0px 20px 8px; /*top, right, left, bottom*/
    background-color: #eac4d5;
}

.navbar ul{
    margin: 0px;
    padding: 0px;
}

.navbar li{
    margin: 9px;
    padding: 4px;
    list-style-type: none;
    text-align: center;
    display: inline;
    background-color: #95b8d1;
    border: 1.5px solid black;
    font-weight: 600;
}

.navbar-light-mode li{
    background-color: #b8e0d2;
}

.navbar li:hover{
    background-color: #b4e0e4;
    font-style: italic;
}

.navbar-light-mode li:hover{
    background-color: antiquewhite;
}

.navbar a{
    text-decoration: none;
    color: black;
}

div[class^="col-sm"]{
    padding: 10px 5px 5px 15px; /*top, right, left, bottom*/
}

/* styling links in columns (seperately from how rows are styled, because that includes header/footer */
div[class^="col-sm"] a{
    text-decoration: none;
    color: #b4e0e4;
}

div[class^="col-sm"] a:hover{
    text-decoration: none;
    color: #95b8d1;
}

div[class^="col-sm"] a:visited{
    text-decoration: none;
    color: #95b8d1;
}

div[class^="col-sm"] h5{
    font-style: italic;
    font-weight: bold;
}

/* background colors of the rows */
.row{
    background-color: #0d1117;
}

.row-two{
    background-color: #181c24;
}

.row-light-mode{
    background-color: antiquewhite;
}

.row-two-light-mode{
    background-color: aliceblue;
}

/* styling footer */
.pageFooter{
    padding: 20px;
    background-color: #b8e0d2;
    color: black;
}

.pageFooter-light-mode{
    background-color: #eac4d5;
    color: black;
}

/* adding padding on top of the right-aligned text in the footer */
.pageFooter .col-sm-7{
    text-align: right;
}

.pageFooter h4{
    font-size: 16px;
    margin-bottom: 3px;
}

.pageFooter h5{
    font-size: 14px;
}

.pageFooter .col-sm-7{ /* sets the text in this footer column to sit at the bottom end of the column because it looks cooler like that*/
    padding-top: 3%;
}

.pageFooter .col-sm-7 h4 a{
    text-decoration: underline;
    color: #b4e0e4;
}

.pageFooter .col-sm-7 h4 a:hover{
    text-decoration: underline;
    color: #95b8d1;
}

.pageFooter .col-sm-7 h4 a:visited{
    color: #95b8d1;
    text-decoration: underline;
}

button{
    width: 135px;
} 

/* styling buttons and input fields */
input[type="submit"], button{
    border: 1px solid black;
    background-color: #b4e0e4;
    color: black;
    font-size: small;
    width: 185px;
    text-align: center;
}


input[type="submit"]:hover, button:hover{
    border: 1px solid black;
    background-color: #95b8d1;
    color: black;
    font-style: italic;
    font-weight: bold;
}

input[class="inputText"]{
    width: 185px;
    font-style: italic;
    font-size: smaller;
}

/* styling tables */
table{
    width: 100%;
}
th{
    text-align: center;
    font-size: 18px;
}
tr, th, td{
    border: 1.5px solid #95b8d1;
    padding: 2px;
}

tr, td{
    padding-left: .5%;
}

tr:hover{
    background-color: #95b8d1;
    color: black;
    border: 1.5px solid rgb(241, 234, 234); /* isn't working */
}

td{
    font-size: 16px;
    width: fit-content;
}
/* uncomment this if you can figure out how to make this respond to light mode
tr:nth-child(odd) {
    background-color: #0d1117;
} */